<section class="frontpage-testimonials">
  <h2>Отзывы о журнале</h2>
  
  <%
    items = [
      ['davlet.png', 'Наиль Давлетшин', 'Председатель ТСЖ «Уинская 8», Пермь', '…мы с интересом ждём каждый новый выпуск журнала «Председатель ТСЖ», где публикуются материалы, помогающие нам и ориентироваться в бурном жилищно-коммунальном море, обучаться методам защиты своих прав и интересов, пролагать   верный курс к лучшей жизни.'],
      ['krukova.png', 'Тамара Крюкова', 'Председатель правления ТСЖ «Свобода», Магадан', '…при внимательном прочтении в журнале можно найти статьи практически по всем направлениям деятельности председателя ТСЖ. У нас много проблем, которые пытаемся решить в суде, поэтому для меня очень значимы материалы судебной практики.'],
      ['lari.png', 'Владимир Ларионов', 'Председатель ТСЖ «Московский», Калининград', '…Мы выписываем бумажную версию, так как её удобно читать не только за монитором, но и брать с собой в качестве дополнительного аргумента, когда иду решать какую-то проблему в районную администрацию или в городскую, встречаюсь с коллегами.'],
      ['stepko.png', 'Антонина Степко', 'председатель ТСЖ «Витязь-22»  МО, Электрогорск', 'С журналом «Председатель ТСЖ» наше товарищество дружит уже почти десять лет. Его читают не только члены правления, но и многие жители нашего дома.'],
      ['endu.png', 'Вера Эндюкова', 'Председатель ТСЖ «Высотный», Ульяновск', 'Листая страницы журнала,  мои соседи особенно внимательно относятся к материалам, которые показывают, как конкретно решается та или иная проблема, например, во взаимоотношениях с РСО.'],
    ]
  %>
  <ul>
    <% items.each do |item| %>
    <li>
      <blockquote><%= raw(item[3]) %></blockquote>
      <figure>
        <div class="image"><%= image_tag("people/#{item[0]}") %></div>
        <figcaption>
          <div class="name"><%= item[1] %></div>
          <div class="title"><%= item[2] %></div>
        </figcaption>
      </figure>
    </li>
    <% end %>
  </ul>

  <nav>
    <%=
      link_to(
        'Смотреть все отзывы',
        'https://www.pr-tsj.ru/index.php/otzyvy',
        class: 'button button-primary',
        target: '_blank',
        rel: 'external noreferrer'
      )
    %>
  </nav>
</section>
